body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-size: 16px;
}

.movie-card-header {
  align-items: center;
  background-color: #343a40;
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px 30px;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}

.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.rating {
  background-color: rgb(52, 58, 64);
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}

.movie-card-search {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 30px;
  width: 920px;
}

input , textarea {
  border: 0;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
  margin-left: 5px;
}

.checkbox {
  all: unset;
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
  height: 10px;
  margin-left: 5px;
  width: 10px;
}

.checkbox:checked {
  background-color: rgb(52, 58, 64);
}

.add-movie {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 900px;
}

.add-movie input , .add-movie label , .add-movie textarea {
  margin: auto;
  width: 100%;
}

.add-movie-div-1 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

.add-movie-div-1 input {
  width: 100%;
}

.add-movie-div-1 label:nth-child( 2 ) {
  margin-left: 2%;
}

.add-movie-div-2 {
  display: flex;
  margin-bottom: 5%;
}

.add-movie-div-2 input {
  width: 50%;
}

.movie-rating {
  padding-left: 100px;
}

button {
  background-color: rgb(52, 58, 64);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: Helvetica , sans-serif;
  font-size: 15px;
  height: 30px;
  margin-right: 100px;
  transition: 0.5s;
  width: 400px;
}

button:hover {
  border: none;
  color: white;
  font-size: 16px;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.drop {
  background-color: rgb(52, 58, 64);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  margin-left: 15px;
  padding: 2px;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

button:focus , .drop:focus {
  outline-width: 0;
}

.number {
  margin-left: 5px;
  width: 50px;
}
